<center><h3>Panimalar Institute of Technology</h3></center>
<center><h3>Department of <%=@department.name %></h3></center>
<center><h3><%= @year_map[@year]%> Year - Semester <%=@semester%></h3></center>
<center><h3><%= @exam.name %></h3></center>
<br><br>
<center><h3>Summary of Failures</h3></center>
<br>
<br>
<b>Exam Date: <%=@exam.date.to_date%></b>
<br>
<b>Total Students: <%= @total_students %></b>
<br>
<b>Section: <%= @section %></b>
<br>

<center><h4>Total Number of Failures: <%= @single_sub_f+@two_sub_f+@gt_three_f %> + <%= @abs %>(A)</h4></center>

<center>
  <table border=1>
    <tr>
      <td>No. of Students who failed in One Subject</td>
      <td><b><%= @single_sub_f %></b></td>
    <tr>
    <tr>
      <td>No. of Students who failed in Two Subjects</td>
      <td><b><%= @two_sub_f %></b></td>
    <tr>
    <tr>
      <td>No. of Students who failed more than Three Subjects</td>
      <td><b><%= @gt_three_f %></b></td>
    <tr>
  </table>
</center>       
