<h3>Mark Analysis</h3>
<table>
  <tr>
    <th>Exam Name:</th>
    <td><%= @exam.name %><td>
  </tr>
  <tr>
    <th>Department:</th>
    <td><%= @department.name %><td>
  </tr>
  <tr>
    <th>Semester:</th>
    <td><%= @semester %><td>
  </tr>
  <tr>
    <th>Exam Date:</th>
    <td><%= @exam.date.to_date %><td>
  </tr>
</table>

<h5>Menu:</h5>
<ul>
  <li>Mark List:&nbsp;&nbsp;<%=link_to "Section A", :action=>'mark_list', :id=>@exam.id,:section=>"A"%>&nbsp;&nbsp;<%=link_to "Section B", :action=>'mark_list', :id=>@exam.id,:section=>"B"%></li>
  <li>Failures List
    <ul>
      <li>Individual Subject Failures<br>
          <form action="/analysis/indiv_sub_fail">
          <table>
            <tr>
              <td><%= select_tag :sub,options_from_collection_for_select(@subjects, :id, :abbreviation) %></td>
              <%= hidden_field_tag :id,@exam.id %>
              <td><select id="section" name="section"><option value="A">A</option><option value="B">B</option></select></td>
              <td><input type="submit" value="View" /></td>
              </tr>
          </table>
          </form>
      </li>

      <li>Failures By No. of Subjects Failed:  <%=link_to "Section A", :action=>'no_sub_fail',:id=>@exam.id,:section=>"A" %>&nbsp;&nbsp;<%=link_to "Section B", :action=>'no_sub_fail',:id=>@exam.id,:section=>"B" %></li>
      <li>Failures Summary:  <%=link_to "Section A", :action=>'fail_summary',:id=>@exam.id,:section=>"A" %>&nbsp;&nbsp;<%=link_to "Section B", :action=>'fail_summary',:id=>@exam.id,:section=>"B" %></li>
    </ul>
  </li>
  <li>Result Analysis: <%=link_to "Section A", :action=>'result_analysis',:id=>@exam.id,:section=>"A" %>&nbsp;&nbsp;<%=link_to "Section B", :action=>'result_analysis',:id=>@exam.id,:section=>"B" %></li>
</ul>
