<center><h3>Panimalar Institute of Technology</h3></center>
<center><h3>Department of <%=@department.name %></h3></center>
<center><h3><%= @year_map[@year]%> Year - Semester <%=@semester%></h3></center>
<center><h3><%= @exam.name %></h3></center>
<br>
<b>Max. Marks: 100</b>
<br>
<b>Exam Date: <%=@exam.date%></b>
<br>
<center>
  <table border=1>
    <tr>
      <th>SNO</th>
      <th>Roll No.</th>
      <th>Name</th>
      <% for subject in @subjects %>
        <th><%=subject.abbreviation%></th>
      <% end %>
      <th>Total</th>
      <th>Percentage</th>
      <th>Result</th>
      <th>Rank</th>
    <tr>
    <% sno=1 %>
    <% for student in @students %>
      <tr>
        <td><%=sno%></td>
        <% sno+=1 %>
        <td><%=student.roll_no%></td>
        <td><%=student.name %></td>
        <td><%if @marks[student.id][0].marks.nil?%>
              <%="N/A"%>
            <%elsif @marks[student.id][0].marks==-1%>
              <%="AB"%>
            <%elsif @marks[student.id][0].marks<50%>
              <b><%=@marks[student.id][0].marks%></b>
            <%else%>
              <%=@marks[student.id][0].marks%>
            <%end%></td>
        <td><%if @marks[student.id][1].marks.nil?%>
              <%="N/A"%>
            <%elsif @marks[student.id][1].marks==-1%>
              <%="AB"%>
            <%elsif @marks[student.id][1].marks<50%>
              <b><%=@marks[student.id][1].marks%></b>
            <%else%>
              <%=@marks[student.id][1].marks%>
            <%end%></td>
        <td><%if @marks[student.id][2].marks.nil?%>
              <%="N/A"%>
            <%elsif @marks[student.id][2].marks==-1%>
              <%="AB"%>
            <%elsif @marks[student.id][2].marks<50%>
              <b><%=@marks[student.id][2].marks%></b>
            <%else%>
              <%=@marks[student.id][2].marks%>
            <%end%></td>
        <td><%if @marks[student.id][3].marks.nil?%>
              <%="N/A"%>
            <%elsif @marks[student.id][3].marks==-1%>
              <%="AB"%>
            <%elsif @marks[student.id][3].marks<50%>
              <b><%=@marks[student.id][3].marks%></b>
            <%else%>
              <%=@marks[student.id][3].marks%>
            <%end%></td>
        <td><%if @marks[student.id][4].marks.nil?%>
              <%="N/A"%>
            <%elsif @marks[student.id][4].marks==-1%>
              <%="AB"%>
            <%elsif @marks[student.id][4].marks<50%>
              <b><%=@marks[student.id][4].marks%></b>
            <%else%>
              <%=@marks[student.id][4].marks%>
            <%end%></td>
        <td><%if @marks[student.id][5].marks.nil?%>
              <%="N/A"%>
            <%elsif @marks[student.id][5].marks==-1%>
              <%="AB"%>
            <%elsif @marks[student.id][5].marks<50%>
              <b><%=@marks[student.id][5].marks%></b>
            <%else%>
              <%=@marks[student.id][5].marks%>
            <%end%></td>
        <% result=@results.detect{|r| r.student_id==student.id} %>
        <td><%=result.total%></td>
        <td><%=result.percentage%>%</td>
        <td><%if result.result=="P"%>
              <%= "Pass"%>
            <% elsif result.result=="F"%>
              <%="Fail"%>
            <% else %>
              <%="AB"%>
            <%end%>
        </td>
        <td><% if result.result=="P" %>
              <%= result.rank%>
            <% else %>
              <%= "--" %>
            <%end%>
        </td>
      </tr>
    <% end %>
  </table>
