<!DOCTYPE html>
<html>
<head>
  <title>StudentMarks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="page">




<div id="sidebar">
        <ul id="sidebar-items">
          <li>
            <h3>Menu:</h3>
            <ul class="links">
              <li><a href="/">Home</a></li>
              <li><a href="/students/">Manage Students</a></li>
              <li><a href="/exams/">Manage Exams and Marks</a></li>
              <li><a href="/subjects/">Manage Subjects</a></li>
              <% if current_user %>
              <li><%= link_to "Logout",logout_path,:method=>:delete %>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
<div id="content">
        <%if !flash[:notice].nil? %>
          <div id="notice">
            <p><%= flash[:notice] %></p>
          </div>
        <% end %>
        <div id="header">
          <h1>Mark Analysis System</h1>
          <h2>Panimalar Institute of Technology</h2>
          <hr>
</div>

<%= yield %>


</div>

</body>
</html>
